{% load static %}

<!-- Step Item -->
<li class="step-item">
  <div class="step-content-wrapper">
    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

    <div class="step-content">
      <h5 class="step-title">
        <a class="text-dark" href="#">Task report - uploaded weekly reports</a>
      </h5>

      <p class="fs-5 mb-1">
        Added 3 files to task
        <a class="text-uppercase" href="#"
          ><i class="bi-journal-bookmark-fill"></i> Fd-7</a
        >
      </p>

      <ul class="list-group">
        <!-- Item -->
        <li class="list-group-item list-group-item-light">
          <div class="row gx-1">
            <div class="col-sm-4">
              <div class="d-flex">
                <span class="flex-shrink-0">
                  <img
                    class="avatar avatar-xs"
                    src="{% static 'assets/svg/brands/excel-icon.svg' %}"
                    alt="Image Description"
                  />
                </span>
                <div class="flex-grow-1 text-truncate ms-2">
                  <span
                    class="d-block fs-6 text-dark text-truncate"
                    title="weekly-reports.xls"
                    >weekly-reports.xls</span
                  >
                  <span class="d-block small text-muted">12kb</span>
                </div>
              </div>
            </div>
            <!-- End Col -->

            <div class="col-sm-4">
              <div class="d-flex">
                <span class="flex-shrink-0">
                  <img
                    class="avatar avatar-xs"
                    src="{% static 'assets/svg/brands/word-icon.svg' %}"
                    alt="Image Description"
                  />
                </span>
                <div class="flex-grow-1 text-truncate ms-2">
                  <span
                    class="d-block fs-6 text-dark text-truncate"
                    title="weekly-reports.xls"
                    >weekly-reports.xls</span
                  >
                  <span class="d-block small text-muted">4kb</span>
                </div>
              </div>
            </div>
            <!-- End Col -->

            <div class="col-sm-4">
              <div class="d-flex">
                <span class="flex-shrink-0">
                  <img
                    class="avatar avatar-xs"
                    src="{% static 'assets/svg/brands/word-icon.svg' %}"
                    alt="Image Description"
                  />
                </span>
                <div class="flex-grow-1 text-truncate ms-2">
                  <span
                    class="d-block fs-6 text-dark text-truncate"
                    title="monthly-reports.xls"
                    >monthly-reports.xls</span
                  >
                  <span class="d-block small text-muted">8kb</span>
                </div>
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </li>
        <!-- End Item -->
      </ul>

      <span class="text-muted small text-uppercase">Now</span>
    </div>
  </div>
</li>
<!-- End Step Item -->

<!-- Step Item -->
<li class="step-item">
  <div class="step-content-wrapper">
    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

    <div class="step-content">
      <h5 class="step-title">
        <a class="text-dark" href="#">Project status updated</a>
      </h5>

      <p class="fs-5 mb-1">
        Marked
        <a class="text-uppercase" href="#"
          ><i class="bi-journal-bookmark-fill"></i> Fr-6</a
        >
        as
        <span class="badge bg-soft-success text-success rounded-pill"
          ><span class="legend-indicator bg-success"></span>"Completed"</span
        >
      </p>

      <span class="text-muted small text-uppercase">Today</span>
    </div>
  </div>
</li>
<!-- End Step Item -->

<!-- Step Item -->
<li class="step-item">
  <div class="step-content-wrapper">
    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

    <div class="step-content">
      <h5 class="step-title">
        <a class="text-dark" href="#">New card styles added</a>
      </h5>

      <p class="fs-5 mb-1">Added 3 card to <a href="#">Payments</a></p>

      <ul class="list-group">
        <!-- Item -->
        <li class="list-group-item list-group-item-light">
          <div class="row gx-2">
            <div class="col">
              <img
                class="img-fluid rounded-2"
                src="{% static 'assets/svg/components/card-1.svg' %}"
                alt="Image Description"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid rounded-2"
                src="{% static 'assets/svg/components/card-2.svg' %}"
                alt="Image Description"
              />
            </div>
            <div class="col">
              <img
                class="img-fluid rounded-2"
                src="{% static 'assets/svg/components/card-3.svg' %}"
                alt="Image Description"
              />
            </div>
          </div>
        </li>
        <!-- Item -->
      </ul>

      <span class="text-muted small text-uppercase">May 12</span>
    </div>
  </div>
</li>
<!-- End Step Item -->

<!-- Step Item -->
<li class="step-item">
  <div class="step-content-wrapper">
    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

    <div class="step-content">
      <h5 class="step-title">
        <a class="text-dark" href="#">Dean added a new team member</a>
      </h5>

      <p class="fs-5 mb-1">Added a new member to Front Dashboard</p>

      <span class="text-muted small text-uppercase">May 15</span>
    </div>
  </div>
</li>
<!-- End Step Item -->

<!-- Step Item -->
<li class="step-item">
  <div class="step-content-wrapper">
    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

    <div class="step-content">
      <h5 class="step-title">
        <a class="text-dark" href="#">Project status updated</a>
      </h5>

      <p class="fs-5 mb-1">
        Marked
        <a class="text-uppercase" href="#"
          ><i class="bi-journal-bookmark-fill"></i> Fr-3</a
        >
        as
        <span class="badge bg-soft-primary text-primary rounded-pill"
          ><span class="legend-indicator bg-primary"></span>"In progress"</span
        >
      </p>

      <span class="text-muted small text-uppercase">Apr 29</span>
    </div>
  </div>
</li>
<!-- End Step Item -->

<!-- Step Item -->
<li class="step-item">
  <div class="step-content-wrapper">
    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

    <div class="step-content">
      <h5 class="step-title">
        <a class="text-dark" href="#">Achievements</a>
      </h5>

      <p class="fs-5 mb-1">
        Earned a "Top endorsed" <i class="tio-verified text-primary"></i> badge
      </p>

      <span class="text-muted small text-uppercase">Apr 06</span>
    </div>
  </div>
</li>
<!-- End Step Item -->

<!-- Step Item -->
<li id="collapseActivitySection" class="step-item collapse">
  <div class="step-content-wrapper">
    <span class="step-icon step-icon-pseudo step-icon-soft-dark"></span>

    <div class="step-content">
      <h5 class="step-title">
        <a class="text-dark" href="#">Project status updated</a>
      </h5>

      <p class="fs-5 mb-1">
        Updated
        <a class="text-uppercase" href="#"
          ><i class="bi-journal-bookmark-fill"></i> Fr-3</a
        >
        as
        <span class="badge bg-soft-secondary text-secondary rounded-pill"
          ><span class="legend-indicator bg-secondary"></span>"To do"</span
        >
      </p>

      <span class="text-muted small text-uppercase">Feb 10</span>
    </div>
  </div>
</li>
<!-- End Step Item -->
