# General Configuration
# ------------------------------------------------------------------------------

# Whether to read the environment variables from a .env file.
DJANGO_READ_DOT_ENV_FILE=True

# Specifies the settings module for the Django project.
DJANGO_SETTINGS_MODULE=config.settings.production

# Django Secret Key for cryptographic operations. Should be generated securely or set via environment variable.
DJANGO_SECRET_KEY=

# The admin URL for the Django admin interface.
DJANGO_ADMIN_URL=front-admin/

# Hosts allowed to access the Django app (local or production).
DJANGO_ALLOWED_HOSTS=

# Security settings
# ------------------------------------------------------------------------------

# Whether to redirect HTTP to HTTPS.
DJANGO_SECURE_SSL_REDIRECT=False

# Email settings for the server.
DJANGO_SERVER_EMAIL=

# AWS Configuration
# ------------------------------------------------------------------------------

# AWS Access Key ID for connecting to AWS services.
DJANGO_AWS_ACCESS_KEY_ID=

# AWS Secret Access Key for connecting to AWS services.
DJANGO_AWS_SECRET_ACCESS_KEY=

# The AWS S3 bucket name for file storage.
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Google OAuth2 Configuration
# ------------------------------------------------------------------------------

# Google OAuth2 client ID for authentication with Google.
DJANGO_GOOGLE_OAUTH2_CLIENT_ID=

# Google OAuth2 client secret for authentication with Google.
DJANGO_GOOGLE_OAUTH2_CLIENT_SECRET=

# GitHub OAuth2 Configuration
# ------------------------------------------------------------------------------

# GitHub OAuth2 client ID for authentication with GitHub.
DJANGO_GITHUB_OAUTH2_CLIENT_ID=

# GitHub OAuth2 client secret for authentication with GitHub.
DJANGO_GITHUB_OAUTH2_CLIENT_SECRET=

# Django Allauth settings
# ------------------------------------------------------------------------------

# Allow users to register via the Django Allauth service.
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Gunicorn Configuration
# ------------------------------------------------------------------------------

# The number of worker processes to run with Gunicorn.
WEB_CONCURRENCY=4

# Whether Docker is being used for the app.
USE_DOCKER=yes

# Sentry Configuration for error tracking
# ------------------------------------------------------------------------------

# Sentry DSN for error monitoring and reporting.
SENTRY_DSN=

# Redis Configuration
# ------------------------------------------------------------------------------

# Redis URL for caching and Celery message broker.
REDIS_URL=

# Celery Broker URL for task queue management.
CELERY_BROKER_URL=

# Upstash Redis Configuration for managed Redis service
# ------------------------------------------------------------------------------

# URL for Upstash Redis REST API.
UPSTASH_REDIS_REST_URL=

# Upstash Redis REST Token for authentication.
UPSTASH_REDIS_REST_TOKEN=

# Celery Settings
# ------------------------------------------------------------------------------

# Flower (Celery monitoring tool) user and password for accessing the monitoring dashboard.
CELERY_FLOWER_USER=debug
CELERY_FLOWER_PASSWORD=debug

# Database Configuration
# ------------------------------------------------------------------------------

# URL for connecting to the PostgreSQL database.
DATABASE_URL=
