# General
# ------------------------------------------------------------------------------ 
DJANGO_READ_DOT_ENV_FILE=True
DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=
DJANGO_ADMIN_URL=front-admin/
DJANGO_ALLOWED_HOSTS=.localhost,127.0.0.1

# Security
# ------------------------------------------------------------------------------ 
# TIP: better off using DNS, however, redirect is OK too
DJANGO_SECURE_SSL_REDIRECT=False

# Email
# ------------------------------------------------------------------------------ 
DJANGO_SERVER_EMAIL=

# AWS
# ------------------------------------------------------------------------------ 
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# GOOGLE ALLAUTH
# ---------------------------------------------------------------------------------
DJANGO_GOOGLE_OAUTH_CLIENT_ID=
DJANGO_GOOGLE_OAUTH_CLIENT_SECRET=

# GITHUB OAUTH
# --------------------------------------------------------------------------------
DJANGO_GITHUB_OAUTH_CLIENT_ID=
DJANGO_GITHUB_OAUTH_CLIENT_SECRET=

# django-allauth
# ------------------------------------------------------------------------------ 
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True

# Gunicorn
# ------------------------------------------------------------------------------ 
WEB_CONCURRENCY=4
USE_DOCKER=yes

# Sentry
# ------------------------------------------------------------------------------ 
SENTRY_DSN=

# Redis
# ------------------------------------------------------------------------------ 
REDIS_URL=redis://redis:6379/0
CELERY_BROKER_URL=redis://redis:6379/0

# Flower
CELERY_FLOWER_USER=debug
CELERY_FLOWER_PASSWORD=debug

# DATABASE
DATABASE_URL=
