{% load static %}

<aside class="js-navbar-vertical-aside navbar navbar-vertical-aside navbar-vertical navbar-vertical-fixed navbar-expand-xl navbar-bordered bg-white">
  <div class="navbar-vertical-container">
    <div class="navbar-vertical-footer-offset">
      <!-- Logo -->
      {% include "dashboard/components/navbar/logo.html" %}
      <!-- End Logo -->

      <!-- Navbar Vertical Toggle -->
      <button type="button" class="js-navbar-vertical-aside-toggle-invoker navbar-aside-toggler">
        <i class="bi-arrow-bar-left navbar-toggler-short-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Collapse"></i>
        <i class="bi-arrow-bar-right navbar-toggler-full-align" data-bs-template='<div class="tooltip d-none d-md-block" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>' data-bs-toggle="tooltip" data-bs-placement="right" title="Expand"></i>
      </button>

      <!-- End Navbar Vertical Toggle -->

      <!-- Content -->
      {% if "WhatsApp" in request.path %}
        {% include "dashboard/components/navbar/sidebar/whatsapp.html" %}
      {% else %}
        {% include "dashboard/components/navbar/sidebar/main.html" %}
      {% endif %}
      <!-- End Content -->

      <!-- Footer -->

      {% include "dashboard/components/navbar/sidebar/footer.html" %}
      <!-- End Footer -->

    </div>
  </div>
</aside>
