{% load static %}

<div class="navbar-vertical-content">
  <div id="navbarVerticalMenu" class="nav nav-pills nav-vertical card-navbar-nav">
    <!-- Collapse -->
    <div class="nav-item">
      <a class="nav-link dropdown-toggle {% if request.resolver_match.view_name == 'dashboard:home' %}active{% endif %}" href="#navbarVerticalMenuDashboards" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuDashboards" aria-expanded="true" aria-controls="navbarVerticalMenuDashboards">
        <i class="bi-bank nav-icon"></i>
        <span class="nav-link-title">Organizations</span>
      </a>

      <div id="navbarVerticalMenuDashboards" class="nav-collapse collapse" data-bs-parent="#navbarVerticalMenuDashboards">
        {% if profile.profile_organizations.exists %}
          <!-- -->
          {% for organization in profile.profile_organizations.all %}
            <a class="nav-link {% if request.resolver_match.view_name == organization.get_absolute_url %}active{% endif %}" href="{{organization.get_absolute_url}}">{{organization.name|title}}</a>
          {% endfor %}
          <!-- -->
        {% else %}
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#createOrganizationModal">
            <i class="bi-plus nav-icon"></i>
            <span class="">New Organization</span>
          </a>
        {% endif %}
        <!-- organization list -->
      </div>
    </div>

    <div class="nav-item">
      <a class="nav-link  {% if request.resolver_match.view_name == 'dashboard:whatsapp:home' %}active{% endif %}" href="{% url 'dashboard:whatsapp:home' %}" data-placement="left">
        <i class="bi-whatsapp nav-icon"></i>
        <span class="nav-link-title">WhatsApp</span>
      </a>
    </div>
    <!-- End Collapse -->

    <span class="dropdown-header mt-4">Management</span>
    <small class="bi-three-dots nav-subtitle-replacer"></small>

    <div id="navbarVerticalMenuPagesMenu">
      <!-- End Collapse -->
      <!-- Collapse -->
      <div class="nav-item">
        <a class="nav-link dropdown-toggle" href="#navbarVerticalMenuPagesProjectMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesProjectMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesProjectMenu">
          <i class="bi-briefcase nav-icon"></i>
          <span class="nav-link-title">Project
            <span class="badge bg-primary rounded-pill ms-1">5</span></span>
        </a>
        <div id="navbarVerticalMenuPagesProjectMenu" class="nav-collapse collapse" data-bs-parent="#navbarVerticalMenuPagesMenu">
          <a class="nav-link" href="">Overview</a>
          <a class="nav-link" href="">Files</a>
          <a class="nav-link" href="">Activity</a>
          <a class="nav-link" href="">Teams</a>
          <a class="nav-link" href="">Settings</a>
        </div>
      </div>
      <!-- End Collapse -->
      <div class="nav-item">
        <a class="nav-link" href="" data-placement="left">
          <i class="bi-microsoft-teams nav-icon"></i>
          <span class="nav-link-title">Teams</span>
        </a>
      </div>
    </div>
    <!-- End Collapse -->

    <span class="dropdown-header mt-4">Automation</span>
    <small class="bi-three-dots nav-subtitle-replacer"></small>
    <div class="nav-item">
      <a class="nav-link dropdown-toggle" href="#navbarVerticalMenuPagesAutomationMenu" role="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalMenuPagesAutomationMenu" aria-expanded="false" aria-controls="navbarVerticalMenuPagesAutomationMenu">
        <i class="bi-robot nav-icon"></i>
        <span class="nav-link-title">Tools</span>
      </a>

      <div id="navbarVerticalMenuPagesAutomationMenu" class="nav-collapse collapse" data-bs-parent="#navbarVerticalMenuPagesMenu">
        <a class="nav-link" href="account-settings.html">Slack</a>
        <a class="nav-link" href="account-billing.html">Sync</a>
        <a class="nav-link" href="account-invoice.html">Google</a>
      </div>
    </div>

    <span class="dropdown-header mt-4">Application</span>
    <small class="bi-three-dots nav-subtitle-replacer"></small>

    <div class="nav-item">
      <a class="nav-link" href="" data-placement="left">
        <i class="bi-folder2-open nav-icon"></i>
        <span class="nav-link-title">File</span>
      </a>
    </div>

    <span class="dropdown-header mt-4">Security</span>
    <small class="bi-three-dots nav-subtitle-replacer"></small>

    <div class="nav-item">
      <a class="nav-link {% if request.resolver_match.view_name == 'dashboard:api_key' %}active{% endif %}" href="{% url 'dashboard:api_key' %}" data-placement="left">
        <i class="bi-key nav-icon"></i>
        <span class="nav-link-title">API Keys</span>
      </a>
    </div>

    <div class="nav-item">
      <a class="nav-link" href="" data-placement="left">
        <i class="bi-shield-shaded nav-icon"></i>
        <span class="nav-link-title">MFA</span>
      </a>
    </div>

    <span class="dropdown-header mt-4">Documentation</span>
    <small class="bi-three-dots nav-subtitle-replacer"></small>

    <div class="nav-item">
      <a class="nav-link" href="" data-placement="left">
        <i class="bi-book nav-icon"></i>
        <span class="nav-link-title">Documentation
          <span class="badge bg-primary rounded-pill ms-1">v2.1.1</span></span>
      </a>
    </div>
  </div>
</div>