{% load static socialaccount %}

<div id="signupModalFormResetPassword" style="display: none; opacity: 0">
  <!-- Heading -->
  <div class="text-center mb-7">
    <h4>Forgot password?</h4>
    <p>
      Enter the email address you used when you joined and we'll send you
      instructions to reset your password.
    </p>
  </div>
  <!-- En dHeading -->

  <form class="js-validate need-validate" novalidate="">
    <div class="mb-3">
      <!-- Form -->
      <div class="d-flex justify-content-between align-items-center">
        <label
          class="form-label"
          for="signupModalFormResetPasswordEmail"
          tabindex="0"
          >Your email</label
        >

        <a
          class="js-animation-link form-label-link"
          href="javascript:;"
          data-hs-show-animation-options='{
                           "targetSelector": "#signupModalFormLogin",
                           "groupName": "idForm"
                         }'
        >
          <i class="bi-chevron-left small me-1"></i> Back to Log in
        </a>
      </div>
      <!-- End Form -->

      <!-- Form -->
      <div class="mb-3">
        <input
          type="email"
          class="form-control form-control-lg"
          name="email"
          id="signupModalFormResetPasswordEmail"
          tabindex="1"
          placeholder="Enter your email address"
          aria-label="Enter your email address"
          required=""
        />
        <span class="invalid-feedback"
          >Please enter a valid email address.</span
        >
      </div>
      <!-- End Form -->

      <div class="d-grid">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
    </div>
  </form>
</div>
