
<ul class="nav nav-pills card-nav card-nav-vertical nav-pills">
  <!-- Item -->
  <li>
    <a class="nav-link" href="#">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <i class="bi-people-fill nav-icon text-dark"></i>
        </div>
        <div class="flex-grow-1 ms-3">
          <span class="d-block text-dark">#digitalmarketing</span>
          <small class="d-block text-muted">8 members</small>
        </div>
      </div>
    </a>
  </li>
  <!-- End Item -->

  <!-- Item -->
  <li>
    <a class="nav-link" href="#">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <i class="bi-people-fill nav-icon text-dark"></i>
        </div>
        <div class="flex-grow-1 ms-3">
          <span class="d-block text-dark">#ethereum</span>
          <small class="d-block text-muted">14 members</small>
        </div>
      </div>
    </a>
  </li>
  <!-- End Item -->

  <!-- Item -->
  <li>
    <a class="nav-link" href="#">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <i class="bi-people-fill nav-icon text-dark"></i>
        </div>
        <div class="flex-grow-1 ms-3">
          <span class="d-block text-dark">#conference</span>
          <small class="d-block text-muted">3 members</small>
        </div>
      </div>
    </a>
  </li>
  <!-- End Item -->

  <!-- Item -->
  <li>
    <a class="nav-link" href="#">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <i class="bi-people-fill nav-icon text-dark"></i>
        </div>
        <div class="flex-grow-1 ms-3">
          <span class="d-block text-dark">#supportteam</span>
          <small class="d-block text-muted">3 members</small>
        </div>
      </div>
    </a>
  </li>
  <!-- End Item -->

  <!-- Item -->
  <li>
    <a class="nav-link" href="#">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <i class="bi-people-fill nav-icon text-dark"></i>
        </div>
        <div class="flex-grow-1 ms-3">
          <span class="d-block text-dark">#invoices</span>
          <small class="d-block text-muted">3 members</small>
        </div>
      </div>
    </a>
  </li>
  <!-- End Item -->
</ul>
