{% extends "client/base.html" %}
<!-- -->
{% load socialaccount %}
<!-- -->
{% providers_media_js %}
<a href="{% provider_login_url 'facebook' %}">Facebook Connect</a>
<!-- -->
{% block header %}{% endblock header %}

<!-- -->

{% block content %}
  <div class="container">
    <div class="row mx-auto align-items-center justify-content-center d-flex" style="padding-top: 8rem;">
      <div class="col-md-6 card p-4">
        <h1>Welcome to Front Automation!</h1>
        <p>Don't we are your best partner when it comes to revision and automation</p>
        <!-- Task manger -->
        {% if request.user.is_authenticated %}
          <a href="{% url 'dashboard:home' %}" class="btn btn-primary p-3 mb-4">Proceed</a>
          <a href="{% url 'dashboard:whatsapp:home' %}" class="btn btn-primary p-3">Automation</a>
        {% else %}
          <a class="btn btn-primary p-3" href="{% url 'users:login' %}">Proceed</a>
        {% endif %}
        <!-- -->
      </div>
    </div>
  </div>

{% endblock content %}

<!-- -->

{% block footer %}{% endblock footer %}
